<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WanderLust</title>
</head>
<body>
    <h3>Create New Listing</h3>
    <form action="/listings" method="POST">
        <label for="title">Title:</label>
        <input type="text" id="title" name="title" required placeholder="Enter a Title"><br><br>

        <label for="description">Description:</label>
        <textarea id="description" name="description" required placeholder="Enter a description"></textarea><br><br>

        <label for="price">Price:</label>
        <input type="number" id="price" name="price" required placeholder="Enter Price"><br><br>

        <label for="image">Image URL:</label>
        <input type="text" id="image" name="image" placeholder="Enter Image URL"><br><br>

        <label for="location">Location:</label>
        <input type="text" id="location" name="location" required placeholder="Enter Location"><br><br>

        <label for="country">Country:</label>
        <input type="text" id="country" name="country" required placeholder="Enter Country"><br><br>

        <button type="submit">Create Listing</button>
    </form>
</body>
</html>